{% extends "main/parent.html" %}
{% load static %}

{% block content %}
<!-- BEGIN #checkout-payment -->
        <div class="section-container" id="checkout-payment">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN checkout -->
                <div class="checkout">
                    <form action="{% url "checkout_payment" %}" method="POST" name="form_payment" class="form-horizontal">
                        {% csrf_token %}
                        <!-- BEGIN checkout-header -->
                        <div class="checkout-header">
                            <!-- BEGIN row -->
                            <div class="row">
                                <!-- BEGIN col-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="step">
                                        <a href="{% url "cart_detail" %}">
                                            <div class="number">1</div>
                                            <div class="info">
                                                <div class="title">Delivery Options</div>
                                                <div class="desc">Lorem ipsum dolor sit amet.</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- END col-3 -->
                                <!-- BEGIN col-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="step">
                                        <a href="{% url "checkout_info" %}">
                                            <div class="number">2</div>
                                            <div class="info">
                                                <div class="title">Shipping Address</div>
                                                <div class="desc">Vivamus eleifend euismod.</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- END col-3 -->
                                <!-- BEGIN col-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="step active">
                                        <a href="#">
                                            <div class="number">3</div>
                                            <div class="info">
                                                <div class="title">Payment</div>
                                                <div class="desc">Aenean ut pretium ipsum. </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- END col-3 -->
                                <!-- BEGIN col-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="step">
                                        <a href="{% url "checkout_complete" %}">
                                            <div class="number">4</div>
                                            <div class="info">
                                                <div class="title">Complete Payment</div>
                                                <div class="desc">Curabitur interdum libero.</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- END col-3 -->
                            </div>
                            <!-- END row -->
                        </div>
                        <!-- END checkout-header -->

                        <!-- BEGIN checkout-body -->
                        <div class="checkout-body">
							<h4 class="checkout-title">Choose a payment method</h4>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Cardholder Name <span class="text-danger">*</span></label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control required" name="cardholder" value="{{request.POST.cardholder|default:''}}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Card Number <span class="text-danger">*</span></label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control required" name="cardnumber" value="{{request.POST.cardnumber|default:''}}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Payment Types <span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <ul class="list-inline payment-type">
                                        {% for value, display in payment_methods %}
                                        <li class="{% if display == payment_methods.0.1 %} active {% endif %}"><a href="#" data-click="set-payment" data-value="{{display}}" data-toggle="tooltip" data-title="{{display}}" data-placement="top" data-trigger="hover">
                                        {% if display == 'PayPal' %}
                                        <i class="fa fa-cc-paypal"></i>
                                        {% elif display == 'Card' %}
                                        <i class="fa fa-cc-visa"></i>
                                        {% elif display == 'Cash on Delivery' %}
                                        <i class="fa fa-money"></i>
                                        {% elif display == 'Stripe' %}
                                        <i class="fa fa-cc-stripe"></i>
                                        {% else %}
                                        <i class="fa fa-credit-card"></i>
                                        {% endif %}
                                    </a></li>
                                    {% endfor %}
                                    </ul>
                                    <input type="hidden" name="payment_method" value="{{payment_methods.0.1}}" data-id="payment-type" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Expiration Date <span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <div class="width-100">
                                        <div class="row row-space-0">
                                            <div class="col-xs-5">
                                                <input type="text" name="mm" placeholder="MM" class="form-control required p-l-5 p-r-5 text-center" value="{{request.POST.mm|default:''}}" />
                                            </div>
                                            <div class="col-xs-2 text-center">
                                                <div class="text-muted p-t-5 m-t-2">/</div>
                                            </div>
                                            <div class="col-xs-5">
                                                <input type="text" name="yy" placeholder="YY" class="form-control required p-l-5 p-r-5 text-center" value="{{request.POST.yy|default:''}}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">CSC <span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <div class="width-100 pull-left m-r-10">
                                        <input type="text" name="number" class="form-control required p-l-5 p-r-5 text-center" value="{{request.POST.csc|default:'' }}" />
                                    </div>
                                    <a href="#" class="text-muted f-s-12 pull-left m-t-5 p-t-2"><i class="fa fa-question-circle"></i> What's this?</a>
                                </div>
                            </div>
                        </div>
                        <!-- END checkout-body -->


                        <!-- BEGIN checkout-footer -->
                        <div class="checkout-footer">
                            <a href="{% url "checkout_info" %}" class="btn btn-white btn-lg pull-left">Back</a>
                            <button type="submit" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10">Proceed</button>
                        </div>
                        <!-- END checkout-footer -->
                    </form>
                </div>
                <!-- END checkout -->
                
                <h4 class="checkout-title m-t-30 m-b-15">Payment Frequently Asked Questions</h4>
                <!-- BEGIN checkout-question-list -->
                <div class="row checkout-question-list" id="checkout-faq">
                    <!-- BEGIN col-6 -->
                     {% for faq in faqs %}
                    <div class="col-md-6">
                        <div class="clearfix">
                            <div class="question">
                                <a href="#" class="collapsed" data-toggle="collapse" data-parent="#checkout-faq">
                                    <span class="dash">-</span> {{faq.question}}
                                </a>   
                            </div>
                            <div class="answer collapse in">
                                {{faq.answer}}
                        </div>
                    </div> 
                </div>
                {% endfor %}
                </div>
                <!-- END checkout-question-list -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #checkout-payment -->
    
        <!-- BEGIN #policy -->
        <div id="policy" class="section-container p-t-30 p-b-30 bg-white">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-truck"></i></div>
                            <div class="policy-info">
                                <h4>Free Delivery Over $100</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-shield"></i></div>
                            <div class="policy-info">
                                <h4>1 Year Warranty For Phones</h4>
                                <p>Cras laoreet urna id dui malesuada gravida. <br />Duis a lobortis dui.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-user-md"></i></div>
                            <div class="policy-info">
                                <h4>6 Month Warranty For Accessories</h4>
                                <p>Fusce ut euismod orci. Morbi auctor, sapien non eleifend iaculis.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #policy -->

        <script>
    // When a payment type is clicked, update hidden input
    document.querySelectorAll('[data-click="set-payment"]').forEach(el => {
        el.addEventListener('click', function(e){
            e.preventDefault();  // this prevents the <a> from navigating
            // setting the hidden input value
            document.querySelector('[name="payment_method"]').value = this.getAttribute('data-value');
            // optionally mark active class
            document.querySelectorAll('.payment-type li').forEach(li => li.classList.remove('active'));
            this.parentElement.classList.add('active');
        });
    });
</script>

{% endblock %}