{% extends 'main/parent.html' %}
{% load static %}

{% block content %} 

<!-- BEGIN #product -->
        <div id="product" class="section-container p-t-20">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN breadcrumb -->
                <ul class="breadcrumb m-b-10 f-s-12">
                    <li><a href="{% url "home" %}">Home</a></li>
                    {% if product.category %}
                    <li><a href="#">{{product.category.name}}</a></li>
                    {% endif %}
                    {% if product.subcategory %}
                    <li><a href="#">{{product.subcategory.name}}</a></li>
                    {% endif %}
                    <li class="active">{{product.name}}</li>
                </ul>
                <!-- END breadcrumb -->
                
                <!-- BEGIN product -->
                <div class="product">
                    <!-- BEGIN product-detail -->
                    <div class="product-detail">
                        <!-- BEGIN product-image -->
                        <div class="product-image">
                            <!-- BEGIN product-thumbnail -->
                            <div class="product-thumbnail">
                                <ul class="product-thumbnail-list">
                                    {% for img in images  %}
                                    <li class="active"><a href="#" data-click="show-main-image" data-url="{{img.image.url}}"><img src="{{img.image.url}}" alt="{{product.name}}" /></a></li>
                                    {% empty %}
                                    <li class="active"><a href="#" data-click="show-main-image" data-url="assets/img/iphone-6s-plus-2.jpg"><img src="assets/img/iphone-6s-plus-2.jpg" alt="{{product.name}}" /></a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <!-- END product-thumbnail -->
                            <!-- BEGIN product-main-image -->
                            <div class="product-main-image" data-id="main-image">
                                {% if images %}
                                <img src="{{images.0.image.url}}" alt="{{product.name}}" />
                                {% else %}
                                <img src="{% static "main/assets/img/iphone-6s-plus.png" %}" alt="{{product.name}}" />
                                {% endif %}
                            </div>
                            <!-- END product-main-image -->
                        </div>
                       

                        <!-- END product-image -->

                        <!-- BEGIN product-info -->
                        <div class="product-info">
                            <!-- BEGIN product-info-header -->
                            <div class="product-info-header">
                                <h1 class="product-title">
                                   {% if product.sale  %}
                                    <span class="label label-success">{{product.sale}} % OFF</span>{% endif %} {{product.name}} </h1>
                                <ul class="product-category">
                                    {% if product.subcategory %}
                                    <li><a href="#">{{product.subcategory.name}}</a></li>
                                    <li>/</li>
                                    {% endif %}
                                    {% if product.category %}
                                    <li><a href="#">{{product.category.name}}</a></li>
                                    <li>/</li>
                                    {% endif %}
                                </ul>
                            </div>

                            <!-- END product-info-header -->
                            <!-- BEGIN product-warranty -->
                            <div class="product-warranty">
                                <div class="pull-right">Availability:
                                    {% if product.in_stock %} In stock {% else %} out of stock {% endif %}</div>
                                    {% if product.warranty %}
                                <div><b>{{product.warranty}}</b></div>
                                {% endif %}
                            </div>

                            <!-- END product-warranty -->
                            <!-- BEGIN product-info-list -->
                            <ul class="product-info-list">
                                {% for feature in features %}
                                <li><i class="fa fa-circle"></i> {{feature.text}}</li>
                                {% empty %}
                                <li><i class="fa fa-circle"></i> No features available</li>
                                {% endfor %}
                            </ul>

                            <!-- END product-info-list -->

                            <!-- BEGIN product-social -->
                            <div class="product-social">
                                <ul>
                                    <li><a href="javascript:;" class="facebook" data-toggle="tooltip" data-trigger="hover" data-title="Facebook" data-placement="top"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:;" class="twitter" data-toggle="tooltip" data-trigger="hover" data-title="Twitter" data-placement="top"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:;" class="google-plus" data-toggle="tooltip" data-trigger="hover" data-title="Google Plus" data-placement="top"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="javascript:;" class="whatsapp" data-toggle="tooltip" data-trigger="hover" data-title="Whatsapp" data-placement="top"><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a href="javascript:;" class="tumblr" data-toggle="tooltip" data-trigger="hover" data-title="Tumblr" data-placement="top"><i class="fa fa-tumblr"></i></a></li>
                                </ul>
                            </div>
                            <!-- END product-social -->

                            <!-- BEGIN product-purchase-container -->
                            <div class="product-purchase-container">
                                {% if product.old_price %}
                                <div class="product-discount">
                                    <span class="discount">{{product.old_price}}</span>
                                </div>
                                {% endif %}

                                <div class="product-price">
                                    <div class="price">{{product.discount}}</div>
                                </div>
                                <button class="btn btn-inverse btn-lg" type="submit">ADD TO CART</button>
                            </div>
                            <!-- END product-purchase-container -->
                        </div>
                        <!-- END product-info -->
                    </div>
                    <!-- END product-detail -->


                    <!-- BEGIN product-tab -->
                    <div class="product-tab">
                        <!-- BEGIN #product-tab -->
                        <ul id="product-tab" class="nav nav-tabs">
                            <li class="active"><a href="#product-desc" data-toggle="tab">Product Description</a></li>
                            <li class=""><a href="#product-info" data-toggle="tab">Additional Information</a></li>
                            <li class=""><a href="#product-reviews" data-toggle="tab">Rating & Reviews {{reviews|length}}</a></li>
                        </ul>
                        <!-- END #product-tab -->

                        <!-- BEGIN #product-tab-content -->

                        <div id="product-tab-content" class="tab-content">
                            <!-- BEGIN #product-desc -->
                            <div class="tab-pane fade active in" id="product-desc">
                                {% for feature in features %}
                                <!-- BEGIN product-desc -->
                                <div class="product-desc">
                                    {% if feature.img %}
                                    <div class="image">
                                        <img src="{{feature.image.url}}" alt="{{feature.title}}" />
                                    </div>
                                    {% endif %}
                                    <div class="desc">
                                        {% if feature.title %}
                                        <h4>{{feature.title}}</h4>
                                        {% endif %}
                                        <p>
                                            {{feature.text}}
                                        </p>
                                    </div>
                                </div>
                                {% empty %}
                                <p>No features available for this product</p>
                                {% endfor %}
                            </div>
                          
                         
                             <!-- BEGIN #product-info -->
                            <div class="tab-pane fade" id="product-info">
                                <!-- BEGIN table-responsive -->
                                <div class="table-responsive">
                                    <!-- BEGIN table-product -->
                                    <table class="table table-product table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="2">{{product.name}}</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for spec in specifications  %}
                                            <tr>
                                                <td class="field">{{spec.name}}</td>
                                                <td colspan="2">
                                                    {{spec.value|linebreaks}}<br />
                                                </td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                        
                                                <td colspan="3">
                                                  No additional information is available
                                                </td>
                                            </tr>
                                            {% endfor %}
                                         </tbody>
                                        </table>
                                        <!-- END table-product -->
                                         </div>
                                         <!-- END table-responsive -->
                                          </div>
                                           <!-- END #product-info -->
                                  

                            <!-- BEGIN #product-reviews -->
                            <div class="tab-pane fade" id="product-reviews">
                                <!-- BEGIN row -->
                                <div class="row row-space-30">
                                    <!-- BEGIN col-7 -->
                                    <div class="col-md-7">
                                        <!-- BEGIN review -->
                                         {% for review in reviews %}
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-icon"><img src="{% static "main/assets/img/user-1.jpg" %}" alt="User" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        {% for i in "12345" %}
                                                          {% if forloop.counter0 < review.rating %}
                                                           <li class="active"><i class="fa fa-star"></i></li>
                                                          {% else %}
                                                          <li><i class="fa fa-star-o"></i></li>
                                                          {% endif %}
                                                          {% endfor %}
                                                        </ul>
                                                        ({{review.rating}}/5)
                                                    </div>

                                                <div class="review-name">{{review.name}}</div>
                                            </div>
                                            <div class="review-title">
                                                {{review.title}}
                                            </div>                        
                                            <div class="review-message">
                                               {{review.review}}
                                            </div>
                                          {% endfor %}
                                        </div>
                                        <!-- END col-7 -->
                                         
                                    <!-- BEGIN col-5 -->
                                    <div class="col-md-5">
                                        <!-- BEGIN review-form -->
                                        <div class="review-form">
                                            <form action="{% url "product_review" product.pk %}" name="review_form" method="POST">
                                                {% csrf_token %}
                                                <h2>Write a review</h2>
                                                <div class="form-group">
                                                    <label for="name">Name <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="name" name="name" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="title">Title <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="title" name="title" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="review">Review <span class="text-danger">*</span></label>
                                                    <textarea class="form-control" rows="8" id="review" name="review"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="rating"> Rating <span class="text-danger">*</span></label>
                                                    <div class="rating rating-selection" data-rating="true" data-target="rating">
                                                        <i class="fa fa-star-o" data-value="1"></i>
                                                        <i class="fa fa-star-o" data-value="2"></i>
                                                        <i class="fa fa-star-o" data-value="3"></i>
                                                        <i class="fa fa-star-o" data-value="4"></i>
                                                        <i class="fa fa-star-o" data-value="5"></i>
                                                        <span class="rating-comment">
                                                            <span class="rating-comment-tooltip">Click to rate</span>
                                                        </span>
                                                    </div>
                                                    <select name="rating" class="hide">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>            
                                                <button type="submit" class="btn btn-inverse btn-lg">Submit Review</button>
                                            </form>
                                        </div>
                                        <!-- END review-form --> 
                                    </div>
                                    <!-- END col-5 -->
                                </div>
                            </div>

                                <!-- Star rating JS -->
                                 <script>
                                  const stars = document.querySelectorAll('.rating-selection i');
                                   const select = document.querySelector('select[name="rating"]');

                                    stars.forEach(star => {
                                    star.addEventListener('click', () => {
                                    const value = star.getAttribute('data-value'); // 1-5
                                     select.value = value;
                                     // Optional: update star colors for feedback
                                     stars.forEach(s => s.classList.remove('fa-star'));
                                     stars.forEach(s => {
                                     if (s.getAttribute('data-value') <= value) {
                                     s.classList.add('fa-star');}
                                       });
                                     });
                                   });
                              </script>
                         <!-- END JS -->
                          
                                      
                 <!-- BEGIN similar-product -->
                <h4 class="m-b-15 m-t-30">You Might Also Like</h4>
                <div class="row row-space-10">
                    {% for sp in similar_products %}
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            <a href="{% url "product_detail" sp.pk %}" class="item-image">
                                {% if sp.is_promotion and sp.sale %}
                                <div class="discount">{{sp.sale}} % OFF</div>
                                {% endif %}
                                {% if sp.is_main_image %}
                                <img src="{{sp.is_main_image}}" alt="{{sp.name}}">
                                {% else %}
                                <img src="{% static "main/assets/img/iphone.png" %}" alt="{{sp.name}}">
                                {% endif %}
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="{% url "product_detail" sp.pk %}">{{sp.name}}</a>
                                </h4>
                                {% if sp.description %}
                                <p class="item-desc">{{sp.description|truncatewords:12}}</p>
                                {% endif %}
                                <div class="item-price">{{sp.discount}}</div>
                                {% if sp.old_price %}
                                <div class="item-discount-price">{{sp.old_price}}</div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    {% endfor %}
                    </div> 

                  {% endblock %}  


         